<%- include('partials/header'); -%>
    <!-- start banner Area -->
    <section class="banner-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-start">
                <div class="col-lg-12">
                    <div class="owl-carousel">
                        <!-- single-slide -->
                        <div class="row single-slide align-items-center d-flex">
                            <div class="col-lg-5 col-md-4">
                                <div class="banner-content">
                                    <h1>Water<br>Suppliers</h1>

                                    <!-- <div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div> -->
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="banner-img">
                                    <img class="img-fluid" src="/assets/customerSide/img/banner/banner-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- start features Area -->
    <section class="features-area section_gap">
        <div class="container">
            <div class="row features-inner">
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="/assets/customerSide/img/features/f-icon1.png" alt="">
                        </div>
                        <!-- <h6>Scheduled Delivery</h6>
						<p>A Special Schedule Delivery Feature in which Customer can Schedule Delivery on Alternative
							Days.</p> -->
                        <h6>Free Delivery</h6>
                        <p>Free Shipping on all orders</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="/assets/customerSide/img/features/f-icon2.png" alt="">
                        </div>
                        <h6>Return Policy</h6>
                        <p>No Return Policy Available</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="/assets/customerSide/img/features/f-icon3.png" alt="">
                        </div>
                        <h6>24/7 Support</h6>
                        <p>Provide Support to Customers 24/7<br> Ask your Queries Anytime</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="/assets/customerSide/img/features/f-icon4.png" alt="">
                        </div>
                        <h6>Secure Payment</h6>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end features Area -->

    <!-- start product Area -->
    <section class="owl-carousel">
        <!-- single product slide -->
        <div class="single-product-slider">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class="section-title">
                            <h1>Products</h1>
                            <p>We cater to your needs for water bottles, water cannisters and water tankers. We offer single deliveries as well as scheduled repeating deliveries.</p>
                        </div>
                    </div>
                </div>
            
                </div>
            </div>
        </div>

    </section>
    <!-- end product Area -->

        <!-- Start category Area -->
        <section class="category-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <div class="single-deal">
                                    <div class="overlay"></div>
                                    <img class="img-fluid w-100" src="/assets/customerSide/img/category/bottle.jpg" alt="">
                                    <a href="/products">
                                        <div class="deal-details">
                                            <h6 class="deal-title">Book Water Bottles</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="single-deal">
                                    <div class="overlay"></div>
                                    <img class="img-fluid w-100" src="/assets/customerSide/img/category/can.jpeg" alt="">
                                    <a href="/products">
                                        <div class="deal-details">
                                            <h6 class="deal-title">Book Water Cans</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
    
                                <div class="single-deal">
                                    <div class="overlay"></div>
                                    <img class="img-fluid w-100" src="/assets/customerSide/img/category/tanker.jpg" alt="">
                                    <a href="/products">
                                        <div class="deal-details">
                                            <h6 class="deal-title">Book Tanker</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
        </section>
        <!-- End category Area -->
    <!-- Start exclusive deal Area -->

    <!-- End exclusive deal Area -->

    <!-- Start brand Area -->
    <section class="brand-area section_gap">
        
    <h1 style="text-align: center;">Brands Available</h1>
        <div class="container">
            <div class="row">
                <a class="col single-img">
                    <img class="img-fluid d-block mx-auto" src="/assets/customerSide/img/brand/b1.jfif" alt="">
                </a>
                <a class="col single-img">
                    <img class="img-fluid d-block mx-auto" src="/assets/customerSide/img/brand/b2.jpg" alt="">
                </a>
                <a class="col single-img">
                    <img class="img-fluid d-block mx-auto" src="/assets/customerSide/img/brand/b3.jpg" alt="">
                </a>
                <a class="col single-img">
                    <img class="img-fluid d-block mx-auto" src="/assets/customerSide/img/brand/b4.jpg" alt="">
                </a>
                <a class="col single-img">
                    <img class="img-fluid d-block mx-auto" src="/assets/customerSide/img/brand/b5.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <!-- End brand Area -->

    <!-- Start related-product Area -->

    <!-- End related-product Area -->


    <%- include('partials/footer'); -%>