<%- include('partials/header'); -%>
<div id="content" class="content" style="height: 100%;">
    <div class="container" style="display: flex;flex-direction: column;justify-content: center; ">
        <a href="/driver-dash/mark-present" class="btn btn-success btn-lg">PRESENT</a>
        <br>
        <a href="/driver-dash/mark-absent" class="btn btn-danger btn-lg">ABSENT</a>
    </div>
    <br>
    <%- include('partials/messages'); -%>
</div>

<%- include('partials/footer'); -%>